{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'movies/index.css' %}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

<div class="index">
        <p><a href="{% url 'authentication:logout_user' %}">logout</a></p>
   <div class="search-wrapper">
        <div class="welcome-user">
            <img class="avatar" src="/media/{{profile.avatar}}" width="200px">
            <h2>Welcome, {{user}} Choose a movie</h2>
        </div>
        <form action="{% url 'movies:search_movie'%}" method="POST">
            {% csrf_token %}
            <input type="search" name="search">
            <button type="submit">
                    <i class="fa fa-search"></i>
            </button>
        </form>
   </div>
</div>