{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'movies/movie_description.css' %}">


<div class="wrapper">
    <img src="{{movie.Poster}}" alt="">
    <h1>{{movie.Title}}</h1>
    <h3>{{movie.Year}}</h3>
    <p>{{movie.Plot}}</p>
    {% if there_is_movie %}
    <form action="{% url 'movies:remove_favorite' movie.Title %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="Remove Movie">
    </form>
    {% else %}
    <form action="{% url 'movies:add_favorite' movie.Title %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="Add Favorite">
    </form>
    {% endif %}

    {% if error.Error %}
    <div>
        <h1>{{error.Error}}</h1>
        <img src="https://media.giphy.com/media/QZB0rrcGLljpu/giphy.gif" alt="">
    </div>
    {% endif %}
</div>